# Windows specific packages
#
pywin32==301 ; python_version == '3.6' and sys_platform == "win32"
pywin32 ; python_version != '3.6' and sys_platform == "win32"

# macOS specific packages
#
pyobjc-core==5.3                          ; sys_platform == 'darwin'
pyobjc-framework-AppleScriptObjC==5.3     ; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices==5.3 ; sys_platform == 'darwin'
pyobjc-framework-Cocoa==5.3               ; sys_platform == 'darwin'
pyobjc-framework-CoreText==5.3            ; sys_platform == 'darwin'
pyobjc-framework-FSEvents==5.3            ; sys_platform == 'darwin'
pyobjc-framework-Quartz==5.3              ; sys_platform == 'darwin'

# Linux specific packages
#
python-xlib                               ; sys_platform == 'linux'

# Cross Platform packages
#
six
pillow>=6.2.0
coverage
nose
codecov
rst2pdf
Sphinx
mock==2.0.0
codacy-coverage
PyQt5==5.15.4 ; python_version >= '3.6'
